.homeHeader {
  height: 80px;
  background-color: white;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  width: 50px;
  height: 70px;
  margin-left: 30px;
  float: left;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: rgba(2, 88, 32, 0.953);
  border-radius: 25px;
  color: #fff;
}
.dropbtn {
  color: black;
  background: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  min-width: 160px;
  background-color: rgba(24, 175, 77, 0.953);
  text-align: left;
  color: #fff;
  font-weight: bold;
  border-radius: 0px;

}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0px;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  border-radius: 25px;
  color: #fff;
}
