<header class="homeHeader" [class.is-scrolled]="isScrolled">
  <div><img src="../../assets/logo.png" class="headerLogo" /></div>
  <div class="navbar">
    <a [routerLink]="['/Home']">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Products</button>
      <div class="dropdown-content">
        <a [routerLink]="['/Fruits']">Fruits</a>
        <a [routerLink]="['/Vegetables']">Vegetables</a>
        <a [routerLink]="['/DryFruits']">Dry Fruits</a>
        <a [routerLink]="['/Greens']">Greens</a>
      </div>
    </div>
    <a [routerLink]="['/Login']">Login</a>
    <a [routerLink]="['/Register']">Register</a>
  </div>
</header>  

  