<div class="footer">
    <div class="footerContainer">
        <div class="logoContainer">
            <div class="footerLogoTitle">Fresh Harvest</div>
            <img class="footerLogo" src="../../assets/footerLogo.png">
            <div class="mediaImages">
            <ion-icon class="mediaIcons" name="logo-instagram"></ion-icon>
            <ion-icon class="mediaIcons" name="logo-twitter"></ion-icon>
            <ion-icon class="mediaIcons" name="logo-facebook"></ion-icon>
        </div>
        <div class="copyRight">Copyright &copy; 2023 by Fresh Harvest,Inc.</div>
        <div class="allRights">All rights reserved</div>
        </div>

        <div class="contactContainer">
            <div class="contactTitle">Contact Us</div>
            <address class="address">623 Harrison St., 2nd Floor, San Francisco, CA 94107</address>
            <a class="telephone" href="tel:123-456-7890">123-456-7890</a>
            <a class="mail" href="mailto:freshharvest@gmail.com">freshharvest@gmail.com</a>

        </div>
        <div class="menuContainer">
            <div class="menuTitle">Menu</div>
            <ul class="menuList">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="helpContainer">
            <div class="helpTitle">Help</div>
            <ul class="helpList">
                <li><a href="#">Shipping information</a></li>
                <li><a href="#">Return & Exchange</a></li>
                <li><a href="#">Terms & conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>