.footer{
    padding: 9.6rem 0;
    border-top: 1px solid #eee;
}
.footerContainer{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    padding: 0 4.8rem;
    column-gap: 4.8rem;
}
.footerLogoTitle,.contactTitle,.menuTitle,.helpTitle{
    font-size: 18px;
    margin-bottom: 30px;
    color: #5f5858;
    font-weight: bold;
}
.footerLogo{
    width: 150px;
display: block;
margin-bottom: 20px;
}
.mediaImages{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
}
.copyRight{
    font-size: 14px;
    color: #767676;
    line-height: 1.6;
    margin-bottom: 10px;
}
.allRights{
    font-size: 14px;
    color: #767676;
    line-height: 1.6;
}
.mediaIcons{
    width: 24px;
    height: 24px;
}
.address{
    font-size: 15px;
    color: #767676;
    line-height: 1.5;
    margin-bottom: 25px;
}
.telephone{
    font-size: 15px;
    color: #767676;
    text-decoration: none;
    margin-bottom: 25px;
    display: block;
}
.mail{
    font-size: 15px;
    color: #767676;
    text-decoration: none;
}
.menuList{
    list-style-type: none;
}
.menuList li a{
    text-decoration: none;
    color: #767676;
    line-height: 2.5;
}
.helpList{
    list-style-type: none;
}
.helpList li a{
    color: #767676;
    line-height: 2.5;
    text-decoration: none;
}