<div class="productListContainer">
    <div class="greensProductsListTitle">Buy Your Products</div>
    <div class="greensProductsListContainer">
      <div
        class="greensProductsList"
        *ngFor="let greensList of filteredGreensProducts"
      >
        <div><img class="greensImage" src="{{ greensList.image }}" /></div>
        <div class="greensName">{{ greensList.productName }}</div>
  
        <div class="BuyCard">
          <div class="priceCard">
            <div class="greensPrice">$ {{ greensList.productPrice }}</div>
            <div class="greensWeight">{{ greensList.weight }}</div>
            <div class="greensdelivery">{{ greensList.delivery }}</div>
          </div>
  
          <div class="addCard">
            <button class="greensAddButton">Add 
              <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 plusIcon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg></span>
              </button>
            
      
          </div>
        </div>
      </div>
    </div>
  </div>
  