<div class="center" >
    <div class="bg1">
        <div class="heading">
            <div class="ourProducts">Our products</div>
         </div><br>
    <div class="row">
        <div class="column">
            <div class="block block1 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                <button type="button" class="btn"> FRUITS </button>
            </div>
        </div>

        <div class="column">
            <div class="block block2 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                <button type="button" class="btn"> VEGETABLES </button>
            </div>
        </div>

        <div class="column">
            <div class="block block3 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                <button type="button" class="btn">DRY FRUITS</button>
            </div>
        </div>

        <div class="column">
            <div class="block block4 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                <button type="button" class="btn"> GREENS</button>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">

                <div class="row1">
                  <div class="bg">
                        <div class="heading">
                            <div>About Us</div>
                         </div>
                    <i>
                    <h3 class="mb-4" style="font-size: 1.5em;">Who We Are ? </h3>
                    <p class="mb-4">Welcome to FRESH HARVEST, dedicated to all things fruits and vegetables! We are a team of passionate individuals who believe that eating a variety of fruits and vegetables is essential for a healthy and fulfilling life.Our mission is to provide you with the freshest and most delicious produce available. We understand that there are many options out there when it comes to purchasing produce, but we strive to set ourselves apart by ensuring that our products are of the highest quality and sourced from trusted suppliers. In addition to offering a wide variety of fruits and vegetables, we also believe in promoting sustainable agriculture practices.</p>
                    <p class="mb-4"> We work with local farmers who share our commitment to the environment and employ methods that minimize the impact on the planet. By supporting these farmers, we are not only promoting healthy eating habits but also supporting a more sustainable food system. The right fruits and vegetables can be overwhelming, especially if you are new to the world of healthy eating.Thank you for choosing us as your go-to source for all things fruits and vegetables. We look forward to serving you!</p><br><br>
                </i><div class="row1">
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <div class="d-flex align-items-center border-start border-5 border-success px-3">
                                <h1 class="flex-shrink-0 display-5 text-success mb-0" data-toggle="counter-up">5</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <div class="d-flex align-items-center border-start border-5 border-success px-3">
                                <h1 class="flex-shrink-0 display-5 text-success mb-0" data-toggle="counter-up">50</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Young</p>
                                    <h6 class="text-uppercase mb-0">FARMERS</h6>
                                </div>
                            </div></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <div class="d-flex align-items-center border-start border-5 border-success px-3">
                                <h1 class="flex-shrink-0 display-5 text-success mb-0" data-toggle="counter-up">500+</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Happy</p>
                                    <h6 class="text-uppercase mb-0">Consumers</h6>
                                </div>
                            </div></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <div class="d-flex align-items-center border-start border-5 border-success px-3">
                                <h1 class="flex-shrink-0 display-5 text-success mb-0" data-toggle="counter-up">16</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Quality Seller</p>
                                    <h6 class="text-uppercase mb-0">Awards</h6>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div></div>
</div>