<div class="center">
    <div class="bg1">
        <div class="heading">
            <div class="benefits">Our products</div>
            <div class="container-fluid">
                <div class="row" id="aboutus">
                    <div class="col-auto">
                        <div class="block block1 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                            <button type="button" class="btn" [routerLink]="['/Fruits']"> FRUITS </button>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="block block2 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                            <button type="button" class="btn" [routerLink]="['/Vegetables']"> VEGETABLES </button>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="block block3 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                            <button type="button" class="btn" [routerLink]="['/DryFruits']">DRY FRUITS</button>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="block block4 img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s">
                            <button type="button" class="btn" [routerLink]="['/Greens']"> GREENS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xxl py-5">
            <div class="container aboutUs">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 whoContainer">
                        <div class="row">
                            <button class="abt"></button>
                        </div>
                    </div>
                    <div class="col-lg-6 whoContainer">
                        <div class="who">Who we are ?</div>
                        <p class="mb-4"> We are a team of passionate individuals who believe that eating a variety of
                            fruits and vegetables is essential for a healthy and fulfilling life.</p>
                        <p class="mb-4" style="text-align:justify;">We work with local farmers who share our commitment
                            to the environment and employ methods that minimize the impact on the planet. By supporting
                            these farmers, we are not only promoting healthy eating habits but also supporting a more
                            sustainable food system.Thank you for choosing us as your go-to source for all things fruits
                            and vegetables. We look forward to serving you!</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5  px-3">
                                    <h1 class="flex-shrink-0 display-5 mb-0">5</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5  px-3">
                                    <h1 class="flex-shrink-0 display-5 mb-0">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Young</p>
                                        <h6 class="text-uppercase mb-0">Farmers</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>