.productListContainer{
    padding: 0 4.8rem;
}
.fruitsProductsListTitle{
    font-size: 36px;
    color: rgba(2, 88, 32, 0.953);
    font-weight: 600;
    text-align: center;
    margin: 25px auto;
}
.fruitsProductsListContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 3.6rem auto;
    padding: 0 4.8rem;
}
.fruitsProductsList{
    border: 1px solid #f0f0f0;
    padding: 1.5rem;   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px, rgba(0, 0, 0, 0.22) 0px 0px 14px;
}
.fruitImage{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.fruitImage:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.fruitName{
    font-size: 16px;
    font-weight: bold;
    color: rgba(2, 88, 32, 0.953);
}
.fruitPrice{
    font-size: 14px;
    font-weight: 500;
    color: rgba(2, 88, 32, 0.953);
}
.fruitdelivery,.fruitWeight{
    font-size: 14px;
}
.BuyCard{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.plusIcon{
    width: 15px;
    height: 15px;
    display: inline-block;
}
.fruitsAddButton{
    border: 1px solid rgba(2, 88, 32, 0.953);
    border-radius: 25px;
    padding: 2px 10px;
    background: none;
    color: rgba(2, 88, 32, 0.953);
    font-weight: 500;
}
.fruitsAddButton:hover{
    background-color: rgba(2, 88, 32, 0.953);
    color: #fff;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

@media (min-width:1040px) and (max-width:1090px){
    .productListContainer{
        padding: 0 2.4rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 2.4rem auto;
    }
    .fruitsProductsList{
        padding: 1rem;   
    }
}
@media (min-width:700px) and (max-width:1039px){
    .productListContainer{
        padding: 0 2.4rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 2.4rem auto;
    }
    .fruitsProductsList{
        padding: 1.5rem;   
    }
}
@media (min-width:551px) and (max-width:699px){
    .productListContainer{
        padding: 0px 0.5rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 2.4rem auto;
        padding: 0 2.4rem;
    }
    .fruitsProductsList{
        padding: 1.5rem;   
    }
}
@media (min-width:501px) and (max-width:550px){
    .productListContainer{
        padding: 0 0.5rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 2.4rem auto;
        padding: 0 2rem;
    }

    .fruitsProductsList{
        padding: 1rem;   
    }
}
@media (min-width:450px) and (max-width:500px){
    .productListContainer{
        padding: 0 0.5rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 2.4rem auto;
        padding: 0 2rem;
    }

    .fruitsProductsList{
        padding: 1rem;   
    }
}
@media (min-width:330px) and (max-width:449px){
    .productListContainer{
        padding: 0px 0.2rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 2.4rem auto;
        /* padding: 0.5rem; */
    }
    .fruitsProductsList{
        padding: 1.5rem;   
    }
}
@media (min-width:280px) and (max-width:329px){
    .productListContainer{
        padding: 0px 0.2rem;
    }
    .fruitsProductsListContainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 1rem;
        row-gap: 1rem; */
        margin: 2.4rem auto;
        padding: 0.8rem;
    }
}
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

:focus {
    outline: 0;
    box-shadow:none;
  }

.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.search{
    display: flex;
    gap: 10px;
}