<div class="productListContainer">
  <div class="fruitsProductsListTitle">Buy Your Products</div>
  <div class="fruitsProductsListContainer">
    <div
      class="fruitsProductsList"
      *ngFor="let fruitsList of filteredFruitsProducts"
    >
      <div><img class="fruitImage" src="{{ fruitsList.image }}" /></div>
      <div class="fruitName">{{ fruitsList.productName }}</div>

      <div class="BuyCard">
        <div class="priceCard">
          <div class="fruitPrice">$ {{ fruitsList.productPrice }}</div>
          <div class="fruitWeight">{{ fruitsList.weight }}</div>
          <div class="fruitdelivery">{{ fruitsList.delivery }}</div>
        </div>

        <div class="addCard">
          <button class="fruitsAddButton">Add 
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 plusIcon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg></span>
            </button>
          
    
        </div>
      </div>
    </div>
  </div>
</div>
