<div class="productListContainer">
    <div class="dryFruitsProductsListTitle">Buy Your Products</div>
    <div class="dryFruitsProductsListContainer">
      <div
        class="dryFruitsProductsList"
        *ngFor="let dryFruitsList of filteredDryFruitsProducts"
      >
        <div><img class="dryFruitsImage" src="{{ dryFruitsList.image }}" /></div>
        <div class="dryFruitsName">{{ dryFruitsList.productName }}</div>
  
        <div class="BuyCard">
          <div class="priceCard">
            <div class="dryFruitsPrice">$ {{ dryFruitsList.productPrice }}</div>
            <div class="dryFruitsWeight">{{ dryFruitsList.weight }}</div>
            <div class="dryFruitsdelivery">{{ dryFruitsList.delivery }}</div>
          </div>
  
          <div class="addCard">
            <button class="dryFruitsAddButton">Add 
              <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 plusIcon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg></span>
              </button>
            
      
          </div>
        </div>
      </div>
    </div>
  </div>
  