<div class="container p-0">
    <div class="row">
        <!-- left side image -->
      <div class="col p-0 w-50">
        <div class="loginLeftSide">
          <div class="title">
            Welcome to <br>Fresh Harvest
          </div>
        </div>
        <br>
      </div>
      <!-- Login page input box content -->
      <div class="col p-0 w-50">
        <div class="loginRightSide">
          <h2>Login</h2>
          <form class="form-group input" [formGroup]="loginForm">
            <!-- userName -->

            <div class="form-group  justify-content-center">
              <label for="userName">UserName</label>
              <input class="form-control textbox" id="userName" type="text" placeholder="UserName"
              name="userName" formControlName="userName" [ngClass]="{'is-invalid': submitted && f['userName'].errors}"
              [(ngModel)]="userName"   required />
              <div class="text text-danger d-flex justify-content-center" *ngIf="submitted && f['userName'].errors">
                <div *ngIf="f['userName'].errors['required']" >UserName is Required</div>
               </div>
            </div>
        
  
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control password passwordfield" id="password" type="password" placeholder="Password"
              name="password"  formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}"
              [(ngModel)]="password" required />
              <div class="text text-danger d-flex justify-content-center" *ngIf="submitted && f['password'].errors">
                <div *ngIf="f['password'].errors['required']" >Enter Valid Password</div>
               </div>
            </div>
             <!-- login button -->
            <div>
              <button class="btn btn-success loginBtn" (click)="onSubmit()">Login</button>
            </div>
            <!-- Signup button -->
            <div>
              <a class="btn signinBtn" [routerLink]="['/Register']">Don't have an account? Register Here</a>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>

