/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'inter', sans-serif;
}
@import '~bootstrap/dist/css/bootstrap.min.css'