.homepage{
    margin-top: 0px;
}
.banner{
    background-image: url('/assets/banner1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
    display: flex;
}
.logoimg{
    margin-left: 100px;
    float: left;
    display: inline-block;
    position: static;
    width: 100%;
    height: 20%;
    margin-top: 40px;
}
.heading{
    display: flex;
    font-weight: 900;
    font-size:  50pt;
    color:  rgba(2, 88, 32, 0.953);
    float: left;
    margin-top:5px;
    height: 25%;
    width: 100%;
    left: 0;
}
@media only screen and (max-width: 1000px) {
    .logoimg{
        margin-left: 80px;
    }
    img{
        width: 90px;
        height: 90px;
    }
        .heading{
            font-weight: 800;
            font-size:  40pt;
            margin-left: 0px;
        }
  }

@media only screen and (max-width: 800px) {
    .logoimg{
        margin-left: 80px;
    }
    img{
        width: 80px;
        height: 80px;
    }
        .heading{
            font-weight: 800;
            font-size:  30pt;
            margin-left: 0px;
        }
  }
@media only screen and (max-width: 600px) {
    .logoimg{
        margin-left: 50px;
    }
    img{
        width: 60px;
        height: 60px;
    }
        .heading{
            font-weight: 700;
            font-size:  20pt;
            margin-left: 0px;
        }
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }