<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="container-fluid py-5" >
    <div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h1 class="benefits" style="margin-top: -95px;">
                We Are Professional Organic Farmers</h1>
        </div>
        <div class="row g-5" style="margin-left: 50px;">
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer1.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Eco-Green Farm</h4>
                                <span class="text-white">51 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer2.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Veggie Stand</h4>
                                <span class="text-white">32 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer7.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Bounty Market</h4>
                                <span class="text-white">81 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer4.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Fresh Garden</h4>
                                <span class="text-white">29 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" >
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer5.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Happy Valley</h4>
                                <span class="text-white">65 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="../../assets/farmer6.jpg" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Greenheart</h4>
                                <span class="text-white">43 Years Experience</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  feature py-5 pb-lg-0" id="teambg" style=" margin: 55px 0 135px 0; margin-bottom: 0px;">
    <div class="container py-5 pb-lg-0">
        <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
            <h3 class="text-uppercase ">Features</h3>
            <h1 class="display-5 text-white">Why We're Unique!</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <div class="bg-success rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <fa-icon [icon]="Icon4"  class=" fs-4 text-white "></fa-icon>
                    </div>
                    <h4 class="text-white">100% Organic</h4>
                    <p class="mb-0"> product is grown without the use of synthetic pesticides or fertilizers, and meets strict organic standards.</p>
                </div>
                <div class="text-white">
                    <div class="bg-success rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <fa-icon [icon]="Icon3"  class=" fs-4 text-white"></fa-icon>
                    </div>
                    <h4 class="text-white">Award Winning</h4>
                    <p class="mb-0">Experience award-winning freshness and quality with our online harvest marketplace.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                    <p style="text-align: justify;"> The products sold on fresh harvest websites are typically of higher quality and more nutrient-dense compared to products that have been processed or stored for extended periods of time. Additionally, fresh harvest products are often grown using sustainable and eco-friendly farming practices, which can reduce environmental impacts and support local communities.</p>
                    <img class="img-fluid" src="../../assets/vegetable.png" style="height: 366px; width: 508px;">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <div class="bg-success rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <fa-icon [icon]="Icon1"  class=" fs-4 text-white"></fa-icon>
                    </div>
                    <h4 class="text-white">Modern Farming</h4>
                    <p class="mb-0">Revolutionize your farming practices with our modern and innovative online platform.</p>
                </div>
                <div class="text-white">
                    <div class="bg-success rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <fa-icon [icon]="Icon2"  class=" fs-4 text-white"></fa-icon>
                    </div>
                    <h4 class="text-white">24/7 Support</h4>
                    <p class="mb-0">Get around-the-clock assistance with our reliable and dedicated 24/7 customer support team</p>
                </div>
            </div>
        </div>
    </div>
</div></div>