<div class="container p-0">
    <div class="row">
        <!-- left side image -->
      <div class="col  col-sm-2  p-0 w-50">
        <div class="signupLeftSide">
          <div class="title">
            Welcome to <br>Fresh Harvest
          </div>
        </div>
        <br>
      </div>
      <!-- Login page input box content -->
      <div class="col w-50 p-0">
        <div class="signupRightSide">
          <h2>Sign Up</h2>
          <form class="form-group" [formGroup]="registerForm">
            <!-- userName -->
            <div class="form-group">
              <label for="userName">UserName</label>
              <input class="form-control textbox" id="userName" type="text" placeholder="UserName" name="userName" formControlName="userName" [ngClass]="{'is-invalid': registered && r['userName'].errors}"/>
              <div class="text text-danger d-flex justify-content-center col-12" *ngIf="registered && r['userName'].errors">
                <div *ngIf="r['userName'].errors['required']" >UserName is Required</div>
                <div *ngIf="r['userName'].errors['minlength']">userName must be atleast 6 characters</div>
                <div *ngIf="r['userName'].errors['maxlength']">userName must not exceed 15 characters</div>
               </div>
            </div>
  
        
                <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control password passwordfield" id="password" type="password" placeholder="Password"
              name="password"  formControlName="password" [ngClass]="{'is-invalid': registered && r['password'].errors}"
              [(ngModel)]="password" required />
              <div class="text text-danger d-flex justify-content-center col-12" *ngIf="registered && r['password'].errors">
                <div *ngIf="r['password'].errors['required']" >Enter Valid Password</div>
                <div *ngIf="r['password'].errors['minlength']">Password must be atleast 8 characters</div>
                <div *ngIf="r['password'].errors['maxlength']">Password must not exceed 20 characters</div>
               </div>
            </div>
           
            <!-- Confirm Password -->
             <div class="form-group">
              <label for=" confirmpassword">Confirm Password</label>
              <input class="form-control password passwordfield" id="confirmpassword" type="password" placeholder="Password"
              name="password" formControlName="confirmPassword" [ngClass]="{'is-invalid':registered && r['confirmPassword'].errors}" required />
              <div class="text text-danger d-flex justify-content-center col-12" *ngIf="registered && r['confirmPassword'].errors" >
                  <div *ngIf="r['confirmPassword'].errors['required']">Password is Required</div>
                  <div *ngIf="r['confirmPassword'].errors['matching']">Password and confirmPassword deos not match</div>  
              </div>
            </div>
            <div class="text-success padding">{{ successMessage }}</div>
             <!-- login button -->
            <div>
              <button class="btn btn-success loginBtn" (click)="register()">Register</button>
            </div>
            <!-- Signup button -->
            <div>
              <a class="btn signinBtn" [routerLink]="['/Login']">Login Here</a>
          </div>
          <!--  -->
          </form>
        </div>
      </div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>